*{
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@font-face {
  font-family: "Jura";
  font-weight: Regular;
  src: url("./assets/font/Jura-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jura";
  font-weight: Medium;
  src: url("./assets/font/Jura-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: Regular;
  src: url("./assets/font/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: Medium;
  src: url("./assets/font/Pretendard-Medium.ttf") format("truetype");
}