.BeginnerBody{
    background: linear-gradient(180deg, #1A1A1A 0%, #000235 100%);
    width: 100vw;
    padding-bottom: 140px;
}

.BeginnerHeader{
    width: 187.36627197265625px;
    height: 26.069820404052734px;
    margin-left: 99px;
    padding-top: 37px;
}

.BeginnerHeader:hover{
    cursor: pointer;
}

.BeginnerTitle{
    color: #F0F0F0;
    width: 810px;
    height: 83px;
    opacity: 1;
    padding-top: 217.93px;
    font-family: Jura;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 2.1px;
    text-align: center;
    text-shadow: 0 0 20px #FFFFFF73;
    margin: 0 auto;
}

.BeginnerTextForm{
    width: 409px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid rgba(139, 137, 255, 1);
    margin: 46px auto 0;
}

.BeginnerTextFormBeginner{
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    display: inline-block;
    margin: 4px auto 0 4px;
}

.BeginnerTextBeginner{
    color: #F0F0F0;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin-top: 6px;
}

.BeginnerTextFormExpert{
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    margin: 0 auto;
    display: inline-block;
}

.BeginnerTextExpert{
    font-family: Pretendard;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin-top: 6px;
    color: #8B89FF;
}

.BeginnerDetailFormBox{
    width: 1234px;
    height: 170px;
    margin: 0 auto;
}

.BeginnerDetailForm{
    width: 1234px;
    height: 170px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    backdrop-filter: blur(30px);
    margin: 35px auto 0;
    position: absolute;
    z-index: 1;
}

.BeginnerDetail{
    width: 1180px;
    height: 90px;
    top: 541px;
    left: 383px;

    font-family: Jura;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
    color: #F0F0F0;
    position: absolute;
    z-index: 2;
}

.BeginnerUI{
    padding-top: 36px;
}

.BeginnerUIForm{
    width: 1000px;
    height: 200px;
    opacity: 1;
    border-radius: 30px;
    background: #8787874D;
    border: 1px solid #888888;
    backdrop-filter: blur(30px);
    margin: 0 auto;
    margin-top: 39px;
}

.BeginnerInputText {
    width: auto;
    height: 48px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #F0F0F0;
    display: inline-block;
    margin-top: 36px;
    margin-left: 93px;
}

.BeginnerInputDetail {
    width: 34px;
    height: 34px;
    border-width: 3px;
    border: 3px solid rgba(139, 137, 255, 1);
    color: rgba(139, 137, 255, 1);
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.BeginnerInputDetail:hover {
    cursor: pointer;
}

.BeginnerInputMin1{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;

    color: rgba(240, 240, 240, 1);
    margin-left: 97px;
    margin-top: 40px;
}

.BeginnerInputMin2{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(240, 240, 240, 1);
    margin-left: 97px;
    margin-top: 40px;
}

.BeginnerInputMin3{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(240, 240, 240, 1);
    margin-left: 70px;
    margin-top: 40px;
    margin-top: 40px;
}

.BeginnerInputMin4{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(240, 240, 240, 1);
    margin-left: 116px;
    margin-top: 40px;
}

.BeginnerInputMin5{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(240, 240, 240, 1);
    margin-left: 92px
}

/*.BeginnerInput{
    width: 702.8px;
    height: 12.33px;
    border-radius: 100px;
    margin-left: 21.74px;
}*/

.BeginnerInputSliderWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.BeginnerInputMax{
    height: 24px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
    margin-top: 45px;
}

.BeginnerInputMaxText{
    position: absolute;
    left: 890px;
}

.BeginnerSubmitForm{
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    width: 400px;
    height: 67px;
    border-radius: 100px;
    gap: 10px;
    margin: 100px auto 0;
}

.BeginnerSubmitForm:hover{
    cursor: pointer;
}

.BeginnerSubmit{
    color: #F0F0F0;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    padding-top: 17px;
}

.Eclipse1{
    width: 224px;
    height: 226px;
    opacity: 0.3;
    top: 201px;
    left: 684px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #8B89FF;
    box-shadow: 0 4px 30px 0 #FFFFFF;
    z-index: 0;
}

.Eclipse2{
    width: 113px;
    height: 113px;
    opacity: 0.3;
    top: 164px;
    left: 1083px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #8B89FF;
    box-shadow: 0 4px 30px 0 #FFFFFF;
    z-index: 0;
}

.Eclipse3{
    width: 1013.7230391501569px;
    height: 361.3270017982416px;
    opacity: 0.3;
    top: 270px;
    left: 422px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #F0F0F0;
    box-shadow: 0 4px 30px 0 #FFFFFF;
    transform: rotate(-19.16deg);
    z-index: 0;
}

.BeginnerSwitchExpert{
    width: 196px;
    height: 52px;
    top: 415px;
    left: 965px;
    border-radius: 100px;
    gap: 10px;
    position: absolute;
    z-index: 1;
}

.BeginnerSwitchExpert:hover{
    cursor: pointer;
}

.BeginnerInputDetailBox1{
    width: 519px;
    height: 90px;
    top: 743px;
    left: 843px;
    border-radius: 10px;
    gap: 10px;
    background-color: rgba(26, 26, 26, 0.3);
    position: absolute;
    z-index: 0;
}

.BeginnerInputDetailBox2{
    width: 519px;
    height: 115px;
    top: 985px;
    left: 887px;
    border-radius: 10px;
    gap: 10px;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.3);
    z-index: 0;
}

.BeginnerInputDetailBox3{
    width: 519px;
    height: 140px;
    top: 1223px;
    left: 803px;
    border-radius: 10px;
    gap: 10px;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.3);
    z-index: 0;
}

.BeginnerInputDetailBox4{
    width: 519px;
    height: 140px;
    top: 1463px;
    left: 943px;
    border-radius: 10px;
    gap: 10px;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.3);
    z-index: 0;
}

.BeginnerInputDetailBox5{
    width: 519px;
    height: 90px;
    top: 1703px;
    left: 82px;
    border-radius: 10px;
    gap: 10px;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.3);
    z-index: 0;
}

.BeginnerInputDetailAdd{
    width: auto;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0;
    color: rgba(240, 240, 240, 1);
    margin-top: 20px;
    margin-left: 89.5px;
}

