.ExpertBody{
    background: linear-gradient(180deg, #1A1A1A 0%, #000235 100%);
    width: 1920px;
    padding-bottom: 143px;
}

.ExpertHeader{
    color: white;
    width: 187.36627197265625px;
    height: 26.069820404052734px;
    margin-left: 99px;
    padding-top: 37px;
}

.ExpertHeaderV{
    color: rgba(139, 137, 255, 1);
    display: inline-block;
    font-style: italic;
    margin-right: 5px;
    font-size: 34px;
}

.ExpertTitle{
    color: #F0F0F0;
    width: 810px;
    height: 83px;
    opacity: 1;
    padding-top: 217.93px;
    font-family: Jura;
    font-weight: 700;
    font-style: Bold;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-shadow: 0px 0px 20px #FFFFFF73;
    margin: 0 auto;
}

.ExpertTextForm{
    width: 409px;
    height: 60px;
    border-radius: 100px;
    border-width: 2px;
    border: 2px solid rgba(139, 137, 255, 1);
    margin: 0 auto;
    margin-top: 46px;
}

.ExpertTextFormBeginner{
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    margin:0 auto;
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
}

.ExpertTextBeginner{
    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
    color: rgba(139, 137, 255, 1);
}

.ExpertTextFormExpert{
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    margin: 0 auto;
    display: inline-block;
    background: linear-gradient(90deg, #6D32D2 0%, #A444E5 100%);
}

.ExpertTextExpert{
    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
    color: rgba(240, 240, 240, 1);
}

.ExpertDetailFormBox{
    width: 1234px;
    height: 200px;
    margin: 0 auto;
}

.ExpertDetailForm{
    width: 1234px;
    height: 200px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    backdrop-filter: blur(30px);
    margin: 0 auto;
    margin-top: 35px;
    position: absolute;
    z-index: 1;
}

.ExpertDetail{
    width: 1155px;
    height: 90px;
    top: 541px;
    left: 383px;

    font-family: Jura;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    color: #F0F0F0;
    position: absolute;
    z-index: 2;
}

.ExpertUI{
    width: 1234px;
    margin: 0 auto;
    margin-top: 120px;
}

.ExpertUIBox{
    width: 50%;
    display: inline-block;
    margin-bottom: 120px;
}

.ExpertInputTitle{
    width: auto;
    height: 48px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(240, 240, 240, 1);
}

.ExpertInput{
    width: 420px;
    height: 90px;
    top: 904px;
    left: 343px;
    border-radius: 30px;
    background: var(--30, rgba(135, 135, 135, 0.3));
    display: inline-block;
    margin-top: 35px;
    padding-right: 30px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.ExpertInputSub{
    width: auto;  
    height: 60px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-left: 20px;
}

.ExpertProbable{
    width: 1234px;
    height: 350px;
    border-radius: 30px;
    border-width: 1px;
    background: var(--30, rgba(135, 135, 135, 0.3));
    border: 1px solid var(--, rgba(136, 136, 136, 1));
    margin: 0 auto;
    margin-top: 30px;
}   


.ExpertSubmitForm{
    background: linear-gradient(90deg, #6D32D2 0%, #A444E5 100%);
    width: 555px;
    height: 93px;
    opacity: 1;
    border-radius: 100px;
    gap: 10px;
    margin: 0 auto;
    margin-top: 110px;
}

.ExpertSubmitForm:hover{
    cursor: pointer;
}

.ExpertSubmit{
    color: var(--2, #F0F0F0);
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
}

.Eclipse1{
    width: 224px;
    height: 226px;
    opacity: 0.3;
    top: 201px;
    left: 684px;
    border-width: 3px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid var(--, #8B89FF);
    box-shadow: 0px 4px 30px 0px #FFFFFF;
    z-index: 0;
}

.Eclipse2{
    width: 113px;
    height: 113px;
    opacity: 0.3;
    top: 164px;
    left: 1083px;
    border-width: 3px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid var(--, #8B89FF);
    box-shadow: 0px 4px 30px 0px #FFFFFF;
    z-index: 0;
}

.Eclipse3{
    width: 1013.7230391501569px;
    height: 361.3270017982416px;
    opacity: 0.3;
    top: 270px;
    left: 422px;
    border-width: 3px;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #F0F0F0;
    box-shadow: 0px 4px 30px 0px #FFFFFF;
    transform: rotate(-19.16deg);
    z-index: 0;
}

.ExpertSwitchBeginner{
    width: 196px;
    height: 52px;
    top: 415px;
    left: 759px;
    border-radius: 100px;
    gap: 10px;
    position: absolute;
    z-index: 1; 
}

.ExpertSwitchBeginner:hover{
    cursor: pointer;
}
