.ExpertBody{
    background: linear-gradient(180deg, #00011C 0%, #000235 100%);
    width: 100vw;
    padding-bottom: 143px;
}

.ExpertHeader{
    width: 187.36627197265625px;
    height: 26.069820404052734px;
    margin-left: 99px;
    padding-top: 37px;
}

.ExpertHeaderV{
    color: rgba(139, 137, 255, 1);
    display: inline-block;
    font-style: italic;
    margin-right: 5px;
    font-size: 34px;
}

.ExpertTitle{
    color: #F0F0F0;
    width: 810px;
    height: 83px;
    opacity: 1;
    padding-top: 217.93px;
    font-family: Jura;
    font-weight: 700;
    font-style: Bold;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-shadow: 0px 0px 20px #FFFFFF73;
    margin: 0 auto;
}

.ExpertTextForm{
    width: 409px;
    height: 60px;
    border-radius: 100px;
    border-width: 2px;
    border: 2px solid rgba(139, 137, 255, 1);
    margin: 0 auto;
    margin-top: 46px;
}

.ExpertTextFormBeginner{
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    margin:0 auto;
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
}

.ExpertTextBeginner{
    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
    color: rgba(139, 137, 255, 1);
}

.ExpertTextFormExpert{
    width: 196px;
    height: 52px;
    border-radius: 100px;
    gap: 10px;
    margin: 0 auto;
    display: inline-block;
    background: linear-gradient(90deg, #6D32D2 0%, #A444E5 100%);
}

.ExpertTextExpert{
    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
    color: rgba(240, 240, 240, 1);
}

.ExpertDetailFormBox{
    width: 1234px;
    height: 200px;
    margin: 0 auto;
}

.ExpertDetailForm{
    width: 1234px;
    height: 200px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    backdrop-filter: blur(30px);
    margin: 0 auto;
    margin-top: 35px;
    position: absolute;
    z-index: 1;
}
.ExpertDetailTextForm{
    width: 1155px;
    height: 90px;
    padding-top: 60px;
    padding-left: 39px;
}

.ExpertDetail{
    width: 1155px;
    height: 90px;
    
    font-family: Jura;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    color: #F0F0F0;
    position: absolute;
    z-index: 2;
}

.ExpertUI{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.ExpertUIBox{
    width: 50%;
    display: inline-block;
    margin-bottom: 100px;
}

.ExpertInputTitle{
    width: auto;
    height: 48px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
}

.ExpertInput{
    width: 350px;
    height: 70px;
    border-radius: 20px;

    background: var(--30, rgba(135, 135, 135, 0.3));
    display: inline-block;
    margin-top: 35px;
    padding-right: 30px;

    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.ExpertInputSub{
    width: auto;  
    height: 60px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-left: 20px;
}

.ExpertSubmitForm{
    background: linear-gradient(90deg, #6D32D2 0%, #A444E5 100%);
    width: 400px;
    height: 67px;
    opacity: 1;
    border-radius: 100px;
    gap: 10px;
    margin: 0 auto;
    margin-top: 100px;
}

.ExpertSubmitForm:hover{
    cursor: pointer;
}

.ExpertSubmit{
    color: var(--2, #F0F0F0);
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 17px;
}

.ExpertSwitchBeginner{
    width: 196px;
    height: 52px;
    top: 415px;
    left: 759px;
    border-radius: 100px;
    gap: 10px;
    position: absolute;
    z-index: 1; 
}

.ExpertSwitchBeginner:hover, .ExpertHeader:hover{
    cursor: pointer;
}