.ResultBody{
    background: linear-gradient(180deg, #00011C 0%, #000235 100%);
    width: 1920px;
    padding-bottom: 122px;
}

.ResultHeader{
    width: 187.36627197265625px;
    height: 63.069820404052734px;
    margin-left: 99px;
    padding-top: 37px;
}

.ResultSaveForm{
    width: 983px;
    margin: 0 auto;
    text-align: right;
    margin-top: 83.83px;
}

.ResultSave{
    width: 250px;
    height: 53px;
    border-radius: 100px;
    gap: 10px;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);

    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
}

.ResultDiscovery{
    width: 200px;
    height: 47px;
    border-width: 3px;
    gap: 10px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-image: linear-gradient(rgba(26, 26, 26, 1), rgba(12, 12, 40, 1)), linear-gradient(to right, rgba(139, 137, 255, 1) 0%, rgba(115, 198, 228, 1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
    overflow: hidden;
} 

.ResultSaveText{
    height: 24px;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(240, 240, 240, 1);

    margin-top: 15px;
}

.ResultDiscoveryText{
    height: 24px;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 12px;
} 

.ResultMissionForm{
    width: 983px;
    height: 243px;
    border-radius: 16px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden
}

.ResultMissionTitle{
    width: auto;
    height: 36px;

    font-family: Jura;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 35.85px;
    letter-spacing: 0%;
    text-align: center;

    background: linear-gradient(90deg, rgba(139, 137, 255, 1) 0%, rgba(115, 198, 228, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 23.9px;
}

.ResultMissionDetail{
    width: auto;
    height: 144px;

    font-family: Jura;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 35.85px;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(240, 240, 240, 1);
    margin-top: 15.78px;
}

.ResultForm1{
    width: 983px;
    margin: 0 auto;
    margin-top: 41px;
}

.ResultClassifyForm{
    display: inline-block;
    width: 486.5px;
    height: 135px;
    text-align: center;
    overflow: hidden;
}

.ResultProbableForm{
    display: inline-block;
    width: 486.5px;
    height: 135px;
    text-align: center;
    background: rgba(139, 137, 255, 0.15);
    margin-left: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.ResultClassifyTitle{
    height: 29px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
    
    color: rgba(240, 240, 240, 1);
    margin-top: 25.08px;
}

.ResultClassifyDetail{
    height: 48px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;

    background: linear-gradient(90deg, rgba(139, 137, 255, 1) 0%, rgba(115, 198, 228, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 8.76px;
}

.ResultProbableTitle{
    height: 29px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(240, 240, 240, 1);
    margin-top: 25.08px;
}

.ResultProbableDetail{
    height: 48px;
    
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    background: linear-gradient(90deg, rgba(255, 62, 8, 1) 0%, rgba(255, 187, 73, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 7.64px;
}

.ResultForm2{
    width: 989px;
    margin: 0 auto;
    margin-top: 10px;
}

.Result2Box{
    width: 159px;
    height: 127px;
    border-radius: 16px;
    margin-right: 10px;
    background: rgba(139, 137, 255, 0.15);
    display: inline-block;
    overflow: hidden;
}

.ResultConfidenceForm{
    display: inline-block;
    width: 481px;
    height: 135px;
    text-align: center;
    background: rgba(139, 137, 255, 0.15);
    border-radius: 16px;
    overflow: hidden;
}

.Result2Title{
    width: auto;
    height: 19px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(240, 240, 240, 1);
    margin-top: 29px;
}

.Result2Detail{
    width: auto;
    height: 33px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 16.47px;
}

.ResultForm3{
    width: 989px;
    height: 387px;
    border-radius: 20px;
    border-width: 1px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid var(--, rgba(136, 136, 136, 1));
    background: var(--30, rgba(135, 135, 135, 0.3));
    overflow: hidden;
}

.Result3Title{
    width: auto;
    height: 48px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 36.07px;
    margin-left: 82px;
}

.Result3DetailForm{
    height: 240px;
    
    margin-top: 21.97px;
    overflow: hidden;
}

.Result3Detail{
    font-family: Pretendard;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0%;

    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-left: 82px;
}

.Result3DetailValue{
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: right;

    color: rgba(255, 255, 255, 1);
    display: inline-block;
    float: right;
    margin-right: 78px;
}

.ResultPOGraphTitle{
    width: 300px;
    height: 36px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);

    margin-top: 100px;
    margin-left: 387px;
}

.ResultHalfGraphForm{
    text-align: center;
    margin-top: 100px;
}

.ResultROCGraph{
    width: 587px;
    height: 519px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);

    display: inline-block;
}

.ResultTLCGraph{
    width: 587px;
    height: 519px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);

    display: inline-block;
    margin-left: 60px;
}

.ResultHalfGraphTitle{
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
    margin-top: 35px;
    margin-left: 44px;
    text-align: left;  
}

.ResultFPRGraphForm{
    width: 1236px;
    height: 519px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 30px;
}

.ResultFPRGraphBox{
    width: 33.17%;
    height: 100%;
    flex: 1;
    display: inline-block;
}

.ResultFPRGraphTitle{
    width: 100%;
    text-align: center;
    margin-top: 123px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
}

.ResultSelectForm{
    width: 1236px;
    height: 100px;
    border-radius: 30px;

    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.ResultSelectTitle{
    height: 30px;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
    margin-left: 46px;
    display: inline-block;
    margin-top: 32px;
    overflow: hidden;
}

.ResultSelectBox{
    overflow: hidden;
    display: inline-block;
    margin-top: 25px;
    float: right;
}

.ResultSelectInput{
    width: 25.846153259277344px;
    height: 25.846153259277344px;
    display: inline-block;
    margin-left: 60px;
}

.ResultSelectInputText{
    height: 45px;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 29.54px;
    line-height: 44.31px;
    letter-spacing: -0.58px;

    color: rgba(240, 240, 240, 1);
    display: inline-block;
    margin-left: 22.15px;
}

.ResultSelectInputK2{
    width: 60.87980651855469px;
    height: 40px;
    padding-top: 8px;
    border-radius: 14.77px;
    border-width: 1.85px;
    gap: 7.38px;
    background: rgba(245, 158, 11, 1);
    display: inline-block;
    text-align: center;

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 22.15px;
    line-height: 29.54px;
    letter-spacing: 0px;

    color: rgba(240, 240, 240, 1);
    margin-left: 22.15px;
    vertical-align: top;
}

.ResultSelectInputKepler{
    width: 60.87980651855469px;
    height: 40px;
    padding-top: 8px;
    border-radius: 14.77px;
    border-width: 1.85px;
    gap: 7.38px;
    background: rgba(59, 130, 246, 1);
    display: inline-block;
    text-align: center;

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 22.15px;
    line-height: 29.54px;
    letter-spacing: 0px;

    color: rgba(240, 240, 240, 1);
    margin-left: 22.15px;
    vertical-align: top;
}

.ResultSelectInputTESS{
    width: 60.87980651855469px;
    height: 40px;
    padding-top: 8px;
    border-radius: 14.77px;
    border-width: 1.85px;
    gap: 7.38px;
    background: rgba(16, 185, 129, 1);
    display: inline-block;
    text-align: center;

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 22.15px;
    line-height: 29.54px;
    letter-spacing: 0px;

    color: rgba(240, 240, 240, 1);
    margin-left: 22.15px;
    margin-right: 80px;
    vertical-align: top;
}

.ResultPRDGraphForm{
    width: 1236px;
    height: 563px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.ResultExpertGraphTitle{
    height: 36px;

    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(240, 240, 240, 1);
    margin-top: 40px;
    margin-left: 46px;
}

.ResultExpertGraphForm{
    width: 1236px;
    height: 519px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.ResultTDDRowGraphForm{
    width: 1236px;
    height: 349px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.ResultTTDSquareGraphForm{
    width: 1236px;
    height: 1257px;
    border-radius: 30px;
    background: rgba(139, 137, 255, 0.15);
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.ResultSaveForm2{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
    padding: 30px;
    margin-left: 340px
}

.ResultSave2{
    width: 250px;
    height: 53px;
    border-radius: 100px;
    gap: 10px;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    display: inline-block;
    margin-left: 28px;
    overflow: hidden;
}

.ResultDiscovery2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 47px;
}

.ResultDiscovery2 > img {
    position: absolute;
}

.ResultSaveText2{
    height: 24px;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(240, 240, 240, 1);

    margin-top: 15px;
}

.ResultDiscoveryText2{
    height: 24px;
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.ResultButtonForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1234px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px
}

.ResultRefine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.ResultRefine > img {
    position: absolute;
}

.ResultRestart{
    width: 400px;
    height: 61px;
    border-radius: 100px;
    gap: 10px;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    display: inline-block;
    margin-left: 55px;
    overflow: hidden;
} 

.ResultRefineText{
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(90deg, #8B89FF 0%, #73C6E4 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.ResultRestartText{
    font-family: Pretendard;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(240, 240, 240, 1);

    margin-top: 14px;
}

.ResultSave:hover, .ResultDiscovery:hover,
.ResultSave2:hover, .ResultDiscovery2:hover,
.ResultRefine:hover, .ResultRestart:hover, .ResultHeader:hover{
    cursor: pointer;
}
